---
import LinkedInIcon from "./icons/LinkedInIcon.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import EN from "../locales/EN.json";

const socialIconByName = {
  linkedin: LinkedInIcon,
  github: GitHubIcon,
} as const;
---

<footer
  class="grid w-full min-w-0 gap-4 bg-primary px-4 py-4 text-sm md:h-14 md:grid-cols-[1fr_auto_1fr] md:px-8 md:py-0 md:text-base"
>
  <span
    class="flex max-md:flex-wrap md:w-max items-center gap-x-2 gap-y-1 text-primary-content md:col-span-1"
  >
    <address class="not-italic font-playfair cursor-default">
      {EN.footer.name}
    </address>
    <div class="cursor-default">-</div>
    <span class="cursor-default">{EN.footer.role}</span>
  </span>
  <ul class="flex items-center gap-3 md:col-span-1 md:justify-center w-fit">
    {
      EN.footer.socialLinks.map((item) => {
        const Icon =
          socialIconByName[item.icon as keyof typeof socialIconByName];
        if (!Icon) return null;

        return (
          <li class="grid place-content-center">
            <a
              href={item.href}
              target="_blank"
              rel="noopener noreferrer"
              class="link link-primary child:h-7 child:w-7 md:child:h-8 md:child:w-8"
              aria-label={item.label}
            >
              <Icon />
            </a>
          </li>
        );
      })
    }
  </ul>
  <ul
    class="flex flex-wrap items-center gap-x-2 gap-y-1 text-primary-content md:col-span-1 md:justify-end"
  >
    {
      EN.footer.legalLinks.map((item, index) => (
        <>
          <li>
            <a
              href={item.href}
              class="link link-primary no-underline"
              target="_blank"
            >
              {item.label}
            </a>
          </li>
          {index < EN.footer.legalLinks.length - 1 && (
            <li class="cursor-default text-primary-content" aria-hidden="true">
              |
            </li>
          )}
        </>
      ))
    }
  </ul>
</footer>
